body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
color: #e2bdbd;
font-size: 3rem;
}

.btn-main {
  background-color:#EC533B;
  border-color: transparent;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 15px;
  transition: 1s;
  color: white;
}

.btn-main:hover{
  background-color: rgba(255, 208, 0, 0.671);
  transition: .5s;
  border-color:transparent;
}

hr{
  border-color: #EC533B;
  max-width: 66px;
  border-width: 2px;
}

.buffer{
  height: 12rem;
}